*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
@font-face {
    font-family: 'Advent Pro';  /* Replace with your downloaded font name */
    src: url('../fonts/static/AdventPro-Bold.ttf') format('truetype'); /* Path to your font file */
    font-weight: 400;  /* Optional: Specify font weight */
    font-style: normal;  /* Optional: Specify font style */
  }
body{
    font-family: 'Advent Pro';
    overflow-x: hidden;
}
.title h2{
    color:#09223B;
    font-size: 2rem;
}
.title{
    position: relative;
    top:5rem;
    left:5rem;
}
#found{
    color:#E7C108;
}

.box{
    background-color: #D9D9D9;
    padding:2rem;
    max-width:35%;
    margin-left:4rem;
    position: relative;
    top:8rem;
    border-radius: 1rem;
    height:60vh;
    display: flex;
    justify-content: space-between;

}
.box .category{
    position: absolute;
}
.box .category input{
    margin-top:.6rem;
    padding:.6rem 1rem;
    border:none;
    border-radius: .5rem;
}
.box .category label{
    font-size:1.3rem;
    color:#09223B;
    font-weight: bold;
}

.box .date{
    position: absolute;
    top:7rem;
}
.box .date input{
    margin-top:.6rem;
    padding:.6rem 2.8rem;
    border:none;
    border-radius: .5rem;
}
.box .date label{
    font-size:1.3rem;
    color:#09223B;
    font-weight: bold;
}

.box .contactnumber{
    position: absolute;
    top:13rem;
}
.box .contactnumber input{
    margin-top:.6rem;
    padding:.6rem 1rem;
    border:none;
    border-radius: .5rem;
}
.box .contactnumber label{
    font-size:1.3rem;
    color:#09223B;
    font-weight: bold;
}
/* email */
.box .email{
    position: absolute;
    top:18rem;
}
.box .email input{
    margin-top:.6rem;
    padding:.6rem 1rem;
    border:none;
    border-radius: .5rem;
}
.box .email label{
    font-size:1.3rem;
    color:#09223B;
    font-weight: bold;
}

/* description */
.box .description{
    position: absolute;
    left:18rem;
}
.box .description textarea{
    margin-top:.6rem;
    padding:.6rem 1rem;
    border:none;
    border-radius: .5rem;
    height: 9em;
}
.box .description label{
    font-size:1.3rem;
    color:#09223B;
    font-weight: bold;
}

.box .image{
    margin-top:1rem;
    position: absolute;
    left:18rem;
    top:13rem;
}
.box .image label{
    color:#09223B;
    font-size:1.3rem;

}
.box .image input{
    margin-top:.6rem;
}
.box .submit{
    position: absolute;
    top:25rem;
    left:14.5rem;
    text-align: center;

}

.box .submit button{
    padding: .8rem  2rem;
    font-size:1rem;
    border-radius: .8rem;
    color:white;
    background-color: #09223B;
    border:none;
}

.box .submit button:hover{
    color:#E7C108;
    box-shadow: 2px 2px 5px rgba(4, 32, 122, 0.7);
}